body {
    padding: 0;
    margin: 0;
	font-size: 1.6vh;
	font-family: sans;
	text-align: justify;
	background-color: #6d695c;
	background-image:
	repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
	repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
	linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
	linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
	background-size: 70px 120px;
	-webkit-hyphens: auto;
	    -ms-hyphens: auto;
	        hyphens: auto;
	background-attachment: fixed;
}

q {quotes: '« ' ' »' '“' '”';}

.scroll {
    top: 0;
    width: 1000000px;
}
.page {
    display: -ms-flexbox;
    display: flex;
}
section.leaf {
    margin: 5vh;
    border: 1px solid #000;
    box-sizing: border-box;
    box-shadow: .5vh .5vh .3vh rgba(0,0,0,.3), inset 0 0 2vh #fff;
    padding: 2.6vh 0 2vh;
    text-shadow: 0 0 3px rgba(0,0,0,.3);
    -moz-column-rule: 1px dashed rgba(0,0,0,.3);
         column-rule: 1px dashed rgba(0,0,0,.3);
    height: 86vh;
    background-color: #fff;
    background-image: linear-gradient( 90deg, rgba(0,0,0,.1), rgba(255,255,255,.1) ), linear-gradient( 0deg, #ddd 1vh, #d8d8d8 1vh );
    background-position: top left;
    background-size: 60vh 100%, 100% 2vh;
    box-sizing: border-box;
	width: 60vh;
}


section.leaf>* {
	margin: 0 6vh
}
section.leaf h2 {
    text-align: center;
	margin-top: 2vh;
	margin-bottom: 2vh;
	line-height: 2vh;
	font-size: 2vh;
}

section.leaf.intro {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
	height: 86vh;
}
section.leaf.intro h1 {
	text-align: center;
	font-size: 5vh;
	margin-top: 2vh;
	margin-bottom: 2vh;
	line-height: 6vh;
}


section.leaf.title h1 {
	text-align: center;
	font-size: 3vh;
	margin-top: 2vh;
	margin-bottom: 2vh;
	line-height: 4vh;
}
section.leaf.title h1 q {quotes: '“' '”' '« ' ' »';}
section.leaf.title blockquote {
	margin: 0;
}

section.leaf.article {
    -moz-column-fill: auto;
		 column-fill: auto;
    -moz-column-gap: 0;
		 column-gap: 0;
    -moz-column-width: 59vh;
		 column-width: 59h;
}
section.leaf.article p {
	margin-top: 0;
	margin-bottom: 2vh;
	line-height: 2vh;
}

section.leaf.article q.sidenote {
    display: none;
    position: absolute;
    background: #fff;
    width: 60vh;
    border: 1px solid #000;
    margin: 0vh -5vh;
    padding: 1vh;
    box-shadow: 0.5vh 0.5vh 0.3vh #0006;
    font-weight: normal;
}
section.leaf.article q.sidenote:before {
    content:""
}
section.leaf.article q.sidenote:after {
    content:""
}
section.leaf.article span.sidenote {
    font-weight: bold;
}
section.leaf.article span.sidenote:after {
	content:"☇"
}
section.leaf.article span.sidenote:hover q.sidenote {
    display: block;
}

body>footer {
    position: fixed;
    width: 100%;
	bottom: 1.3vh;
	text-align: center;
	margin-left: -2vh;
	color: #ffffffb3;
}
